#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.bg {
  position: absolute;
  top: 2rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 80vh;
  border-radius: 50%;
}
.bg:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 200;
}
.introName {
  color: yellow;
}
.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}
.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}
.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}
button:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
    filter: blur(2px);
  }

  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 480px) {
  .bg {
    right: -2vw;
    width: 100%;
    filter: blur(2px);
  }
}
